<table>
  <thead>
    <tr>
      <td>Short Url Token </td>
      <td>Redirects to</td>
    </tr>
  </thead>

  <tbody>
    <% @url_maps.each do |url_map| %>
    <tr>
      <td class="token"><%= link_to(url_map.token, url_map_path(url_map.token)) %></td>
      <td class="url"><%= link_to(url_map.url, url_map.url) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
